# dependencies
node_modules
/.pnp
.pnp.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*

# build
out/
dist/
build/*
!build/chrome-mv3-prod/

# plasmo
.plasmo

# mac
**.DS_Store

# jetbrains
.idea

# old files
archive
